@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=M+PLUS+Code+Latin:wght@100..700&family=Merienda:wght@300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");
@keyframes animacion-aparecer {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgb(174, 221, 148);
}
.navbar-brand img {
  height: 90px;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}
.nav-link:hover {
  color: rgb(240, 240, 240) !important;
}

.jumbotron1 {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2156862745), rgba(136, 136, 136, 0.1647058824)), url(multimedia/castle-137.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}
.jumbotron1 h1 {
  color: rgb(240, 240, 240);
  text-shadow: 3px 2px 9px rgb(0, 0, 0);
  font-size: 35px;
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 1s ease-in-out forwards;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.5s ease;
  margin-top: 20px;
  background-image: linear-gradient(to left, rgb(95, 163, 57), rgb(174, 221, 148));
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.articulo {
  text-align: center;
}
.articulo i {
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.articulo p {
  font-size: 20px;
}

.degradado {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 40px;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(to right, rgb(95, 163, 57), rgb(174, 221, 148));
}

.nleft {
  background-image: url(multimedia/bed-183918.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.refugio {
  background-color: rgb(240, 240, 240);
}
.refugio p {
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.carousel {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  margin-left: 10px;
  margin-right: 10px;
}

.ubicacion p {
  font-size: 25px;
  margin: 20px;
  text-align: left;
}

.mapa {
  background-color: rgb(240, 240, 240);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .refugio p,
  .ubicacion p {
    font-size: 22px;
  }
}
/* Refugio Silvestre */
.jumbotron2 {
  height: 500px;
  background-image: url(multimedia/bedroom-5772.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron2 h1 {
  font-size: 36px;
  text-shadow: 3px 2px 9px rgb(125, 95, 95);
  margin-top: 30px;
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 1s ease-in-out forwards;
}

.sobre-nosotros h2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}
.sobre-nosotros p {
  font-size: 25px;
  text-align: center;
  margin: 30px;
}

.huerta p,
.cocina p {
  font-size: 25px;
  text-align: center;
  margin: 30px;
}

.nuestra-huerta {
  background-color: rgb(174, 221, 148);
}

.manzanas {
  background-image: url(multimedia/apples.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.title-huerta {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 40px;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(to right, rgb(162, 162, 162), rgb(212, 212, 212));
  margin-right: 30px;
  margin-top: 30px;
  margin-left: 40px;
}

.alimentos {
  background-image: url(multimedia/vegetables.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.cocina h2 {
  margin-left: 30px;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .sobre-nosotros p, .huerta p, .cocina p {
    font-size: 20px;
  }
  .sobre-nosotros p {
    margin-bottom: 5px;
  }
  .alimentos {
    margin-top: 10px;
  }
  .refugio p,
  .mapa p {
    font-size: 20px;
  }
}
/* Habitaciones */
.jumbotron3 {
  height: 500px;
  background-image: url(multimedia/bedroom-187.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron3 h1 {
  text-shadow: 3px 2px 9px rgb(125, 95, 95);
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 1s ease-in-out forwards;
}

.hab1,
.hab2,
.hab3 {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.imgh1,
.imgh2,
.imgh3 {
  width: 600px;
  margin: 40px;
  border-radius: 20px;
}

.standard,
.deluxe,
.suite {
  padding-top: 80px;
}
.standard h2,
.deluxe h2,
.suite h2 {
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 80px;
  padding-bottom: 15px;
  font-size: 32px;
  text-align: left;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.standard p,
.deluxe p,
.suite p {
  margin-right: 80px;
  margin-left: 40px;
  font-size: 25px;
  text-align: justify;
}

section i {
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  section {
    flex-direction: column;
  }
  section .standard p,
  section .deluxe p,
  section .suite p {
    font-size: 20px;
    margin: 30px;
  }
  section .standard h2,
  section .deluxe h2,
  section .suite h2 {
    font-size: 26px;
  }
  section .imgh1,
  section .imgh2,
  section .imgh3 {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
    width: auto;
  }
  section .standard i,
  section .deluxe i,
  section .suite i {
    margin-bottom: 20px;
    font-size: 22px;
  }
  section .standard,
  section .deluxe,
  section .suite {
    padding-top: 25px;
  }
}
/* Servicios */
.jumbotron4 {
  height: 500px;
  background-image: url(multimedia/woman-437.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron4 h1 {
  text-shadow: 3px 2px 9px rgb(125, 95, 95);
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 1s ease-in-out forwards;
}

.img1,
.img2,
.img3 {
  width: 100%;
  display: block;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
}

.contenedor1 {
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 8px;
}
.card-header {
  height: auto;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.card-header img {
  border-radius: 10px;
}
.card-title {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.card-description {
  flex-grow: 1;
}
.card-body {
  border-radius: 0 0 10px 10px;
  background-color: rgb(240, 240, 240);
  padding: 20px 15px;
  text-align: justify;
  border: 1px solid rgb(202, 202, 202);
}

.accordion-header .accordion-button {
  font-size: 25px;
}

.accordion-body {
  font-size: 20px;
}

@media only screen and (min-width: 480px) {
  .card-header {
    max-height: 450px;
  }
}
@media only screen and (min-width: 768px) {
  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .card-header {
    overflow: hidden;
  }
  .card {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .card-description {
    font-size: 20px;
  }
}
.titulog {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 40px;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(to right, rgb(95, 163, 57), rgb(174, 221, 148));
  margin-left: 20px;
  margin-right: 20px;
}

.galeria {
  width: 100%;
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  padding: 20px;
  grid-gap: 20px;
}
.galeria .item {
  border: 1px solid rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 1s;
}
.galeria .item:hover {
  transform: scale(1.05);
}
.galeria .item1 {
  background-image: url(multimedia/restaurant-44.webp);
}
.galeria .item2 {
  background-image: url(multimedia/barista-50.webp);
}
.galeria .item3 {
  background-image: url(multimedia/platter-20.webp);
}
.galeria .item4 {
  background-image: url(multimedia/bed-68.webp);
}
.galeria .item5 {
  background-image: url(multimedia/towel-75.webp);
}
.galeria .item6 {
  background-image: url(multimedia/summer-18.webp);
}
.galeria .item7 {
  background-image: url(multimedia/mountaineering-455.webp);
}
.galeria .item8 {
  background-image: url(multimedia/spa-853.webp);
}

@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
  .galeria .item1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .galeria .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .galeria .item3 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .galeria .item4 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .galeria .item5 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .galeria .item6 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .galeria .item7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria .item8 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
}
/* Contacto */
.jumbotron5 {
  height: 500px;
  background-image: url(multimedia/apartment-53.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron5 h1 {
  color: rgb(240, 240, 240);
  text-shadow: 3px 2px 9px rgb(0, 0, 0);
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 1s ease-in-out forwards;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container p {
  font-size: 20px;
}

#contact-form, .contact-info {
  background-color: rgb(249, 249, 249);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.titulos {
  margin-bottom: 20px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form .btn {
  background-image: linear-gradient(to left, rgb(95, 163, 57), rgb(174, 221, 148));
}
#contact-form .btn:hover {
  box-shadow: 0 0 10px rgb(125, 95, 95);
}

@media only screen and (max-width: 992px) {
  .contacto {
    flex-direction: column-reverse;
  }
  .contact-info {
    margin-bottom: 30px;
  }
  .container p {
    font-size: 16px;
  }
}
/* Footer */
.logo {
  width: 90px;
  margin-left: 10px;
}

footer {
  background-color: rgb(174, 221, 148);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer p {
  color: rgba(0, 0, 0, 0.6);
}

.redes {
  margin-right: 50px;
}
.redes a {
  text-decoration: none;
  letter-spacing: 10px;
  color: rgb(0, 0, 0);
}
.redes i {
  font-size: 35px;
}

footer a:hover {
  color: rgb(240, 240, 240);
}

.whatsapp {
  height: 40px;
  width: 40px;
  background-color: rgb(0, 255, 127);
  color: rgb(255, 255, 255);
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 30px;
  border: 2px solid rgb(255, 255, 255);
}
.whatsapp:hover {
  color: rgb(162, 162, 162);
}

.subir {
  height: 40px;
  width: 40px;
  background-color: rgb(174, 221, 148);
  color: rgb(255, 255, 255);
  position: fixed;
  right: 40px;
  bottom: 90px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgb(249, 249, 249);
}
.subir:hover {
  color: rgb(162, 162, 162);
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer p {
    margin-top: 12px;
  }
  .logo, .redes {
    margin: auto;
  }
  .redes a {
    margin: 0 5px;
  }
  .degradado, .title-huerta, .titulog, .card-title {
    font-size: 22px;
  }
  .accordion-header .accordion-button {
    font-size: 22px;
  }
  .accordion-body {
    font-size: 18px;
  }
  .whatsapp, .subir {
    right: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */